@page
@model IndexModel
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Home page";
}
@{
    int a = 10;
    int b = 20;
    int c = a + b;

}


<div class="text-center">
    <marquee>   <h1 class="display-4">Welcome</h1></marquee>
    <p>
        Learn about <a href="https://learn.microsoft.com/aspnet/core">
            Welcome to wipro <br />value is @c <br />

</div>
